<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8EuT-c6s9kkT6M2dw17Kw6YChGwL8MxM</string>
	<key>GCM_SENDER_ID</key>
	<string>1037310090914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcangellmar.chatapp.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappfirebase-d06ef</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappfirebase-d06ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037310090914:ios:3320d49bc10ae9319381fb</string>
</dict>
</plist>